@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.add-movie-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20; /* Ensure header is above other elements */
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px; /* Adjust this value based on the height of your header */
  padding-top: 60px;
  height: 100%; /* Ensure it takes full height of the viewport */
}

.manageMovieCard {
  width: 500px;
  height: 5000px; 
  padding: 24px;
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  z-index: 10;
  overflow-y: auto; /* Enable vertical scrolling */
  /* margin-bottom: 30px;  */
}

.mmm {
  font-family: 'Pretendard', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.addmv {
  display: block;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

/* label input {
  margin-left: 10px;
} */

.mt_input, .poster_input, .trail_input, .cat_input, .rating_input, .cast_input, .dir_input, .prod_input, .syn_input, .as_input {
  font-family: 'Pretendard', sans-serif;
  width: 98%; 
  height: 25px;
  margin-top: 10px; 
}

.btn-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit-button-add {
  font-family: 'Pretendard', sans-serif;
  padding: 13px 20px;
  margin-top: 20px;
  background-color: #3D3B40;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  width: 65%;
  justify-content: center;
}

.submit-button-add:hover {
  background-color: #282828;
}
.manageMovieCard {
 margin-top: 0px;
}