@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.innerFormat_title {
    font-size: 30px;
    font-family: 'Pretendard', sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
}
.movies{
    display: flex; 
    grid-template-columns: 3fr 3fr;
}