.movie-more-info-page1 {
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content1 {
  background: white;
  width: 800px; /* 정사각형으로 만들기 위해 동일한 너비와 높이 설정 */
  height: 400px; /* 정사각형으로 만들기 위해 동일한 너비와 높이 설정 */
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* 위치 조정을 위해 relative로 설정 */
  left: -115px;
  top: -27px
}

.poster-trailer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.poster1 {
  width: 100%;
  height: auto;
  max-height: 180px; /* 이미지 높이 제한 */
  margin-bottom: 10px;
}

.trailer {
  width: 100%;
  height: 180px; /* 트레일러 높이 설정 */
}

.movie-details-container1 {
  flex-grow: 1;
}

.movie-info-list1 {
  list-style-type: none;
  padding: 0;
}

.movie-info-title {
  font-size: 35px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.movie-info-term1 {
  font-weight: bold;
}

.movie-info-definition1 {
  margin-bottom: 10px;
}

.closeBtn {
  align-self: center;
  background-color: white;
  color: #3D3B40;
  border: 1.5px solid #3D3B40;
  padding: 8px 18px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1em;
}

.closeBtn:hover {
  background-color: #3D3B40;
  color: white;
}
