@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.upper {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: flex-start; /* Align items to the top */
  width: 100%;
  padding: 20px;
  padding-bottom: 10px;
}

.search-bar-main {
  /* display: flex; */
  justify-content:left;
  align-items: left;
  width: 100%;
}

.searchinput {
  /* padding: 0.5rem;  */
  margin-right: 5px;
  width: 396px;
  height: 30px;
  border: #f5e9e6;
  background: #f5e9e6;
  border-bottom: 1.5px solid #000;
}

.searchinput:focus {
  outline: none; 
}

.search-option-btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  background: none;
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  outline: none;
  transition: all 0.3s ease;
}

.search-option-btn::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #551115; 
  transition: width 0.3s ease-in-out;
}

.active {
  color: #551115;
  font-weight: 550;
}

.search-option-btn:hover::after {
  width: 100%; 
}

.search-btn{
  padding: 0px;
  height: 40px;
  width: 25px;
  cursor: pointer; 
  border: none;
  color: black;
  line-height: normal;
  background: #f5e9e6;
}
.arrow {
  width: 20px;
  height: 20px;
  position: relative;
  top: 11px; 
}

.search-container {
  flex-direction: column; 
  /* justify-content: space-between; */
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  height: 360px;
}

.searchSec {
  margin-left: 5px;
  width: 450px;
  }
.searchtext{
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600; 
  margin-top: 0px;
}
.search-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding-top: 5px;
  height: 49px;
  flex-shrink: 0;
  border-radius: 10px;
}

.resulttext {
  font-size: 27px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 400; 
  margin-top: 150px;
  text-align: center; 
}

.search-bar-main {
  width: 100%;
}

.sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  height: 400px;
  /* gap: 15px; */
}
.grid1 {
  /* width: 280px;
  height: 100px;
  justify-self: end; */
  width: 280px;
  height: 100px;
  justify-self: end;
}
.grid2 {
  width: 300px;
  height: 100px;
  /* margin-left: 15px;  */
}
.whymv {
  /* font-size: 35px; */
  font-size: 30px;
  font-family: 'Pretendard', sans-serif;
  margin-bottom: 7px;
  margin-top: 0px;
}
.photo1 {
  width: 240px;
  height: 300px;
}
.photo4 {
  width: 240px;
  height: 350px;
}
.photo2 {
  height: 143px;
  width: 280px;
  margin-bottom: 10px;
  margin-top: 3px;
}
.photo3 {
  height: 120px;
  width: 270px;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 15px; 
}
.iol {
  font-size: 30px;
  font-family: 'Pretendard', sans-serif;
  margin-bottom: 7px;
  margin-top: 0px;
  margin-left: 5px;
}
.whymvexp {
  font-size: 21px;
  font-family: 'Pretendard', sans-serif;
  margin: 0px;
  margin-left: 15px; 
  /* text-align: end; */
}
.exp {
  /* font-size: 18px; */
  font-size: 15.5px;
  font-family: 'Pretendard', sans-serif;
  margin-bottom: 3px;
  margin-top: 0px;
  word-break: break-all;
  line-height: 1.6;
  margin-right: 15px;
  margin-left: 15px; 
  /* text-align: end; */
}
.whymvexp0 {
  font-size: 21px;
  font-family: 'Pretendard', sans-serif;
  margin: 0px;
  /* margin-left: 15px;  */
  /* text-align: end; */
}
.exp0 {
  /* font-size: 18px; */
  font-size: 15.5px;
  font-family: 'Pretendard', sans-serif;
  margin-bottom: 3px;
  margin-top: 4px;
  word-break: break-all;
  line-height: 1.6;
  margin-right: 15px;
  /* margin-left: 15px;  */
  /* text-align: end; */
}